# Data Wrangling With Pandas

## Task One - Series
In the cell below, create a `pandas` Series that contains the populations of the top ten British cities. You can find the necessary data in `data/urban.md`. Print out the series.

In [3]:
import pandas as pd

In [6]:
populations = pd.Series([10803000, 2517000, 2449000, 1659000, 1100000, 835000, 805000, 719000, 719000, 603000], index=["London", "Birmingham", "Manchester", "Leeds-Bradford", "Glasgow", "Liverpool", "Southampton-Portsmouth", "Newcastle", "Nottingham", "Sheffield"])

populations

London                    10803000
Birmingham                 2517000
Manchester                 2449000
Leeds-Bradford             1659000
Glasgow                    1100000
Liverpool                   835000
Southampton-Portsmouth      805000
Newcastle                   719000
Nottingham                  719000
Sheffield                   603000
dtype: int64

Sort the series by alphabetical order creating a new series, and print it out.

In [9]:
sorted = populations.sort_index()

sorted

Birmingham                 2517000
Glasgow                    1100000
Leeds-Bradford             1659000
Liverpool                   835000
London                    10803000
Manchester                 2449000
Newcastle                   719000
Nottingham                  719000
Sheffield                   603000
Southampton-Portsmouth      805000
dtype: int64

Create and print a series consisting of the second half of the alphabetically-sorted series.

In [10]:
second_half_sorted = sorted.tail()

second_half_sorted

Manchester                2449000
Newcastle                  719000
Nottingham                 719000
Sheffield                  603000
Southampton-Portsmouth     805000
dtype: int64

## Task Two - Dataframes

In the cell below, create three new Series for
- the top attractions in each city
- whether the city is a port
- the geographical area of the city in square km

From all the series, create a DataFrame than contains all the information about the cities. Include a unique id for each city. Print out the resulting dataframe.

Create and print a dataframe containing the top attractions in cities that are ports. Include only the city id and name.

Create a dataframe which includes all the original data plus the population densities (population per square km) for each city and order them from low density to high density.